.media {
  background-color: #f4f5f7;
  font-family: "Visby Round CF", sans-serif;
  padding: 2%;
  padding-right: 2%;
  width: 28%;
  border-radius: 35px;
}

.media > img {
  width: 100%;
  border-radius: 25px;
}
.media > div {
  text-align: left;
}

.media > div > a {
  color: #878787;
  display: flex;
  width: 90px;
  /* border: 1px solid red; */
  margin-top: 80px;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 5%;
}
